@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}
mat-drawer-container {
  height: 100vh;

  mat-drawer {
    width: 20rem;
    @include for-desktop() {
      width: 18rem;
    }
  }

  .container {
    position: fixed;
    top: 0rem;
    left: 2rem;
    z-index: 1;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 100%;
      background-color: #c3343a;
      color: #fff;
      font-size: 1.1rem;
      z-index: 1;
      cursor: pointer;
    }
  }
}
