.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #e5f0f5;

    .main-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: inherit;

        .invisible {
            visibility: hidden;
        }

        pdf-viewer {
            width: 100%;
            min-height: 100vh;
            display: block;
        }

        mat-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

::-webkit-scrollbar {
    display: none;
}