<div class="container">
    <div class="main-content">
        <div class="title">
            <h1>Proposal Log</h1>
            <div class="filter">
                <button mat-icon-button [matMenuTriggerFor]="menu" >
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="sortdate('all')" >
                      <span>All</span>
                    </button>
                    <button mat-menu-item (click)="sortdate('expired')" > 
                      <span>Expired</span>
                    </button>
                    <button mat-menu-item (click)="sortdate('not')">
                      <span>Not Expired</span>
                    </button>
                  </mat-menu>
                <mat-form-field appearance="standard">
                    <input matInput (keyup)="applyFilter($event)" autocomplete="off" placeholder="Filter" #input>
                </mat-form-field>
                
            </div>
        </div>

        <div class="table-container">
            <table mat-table [dataSource]="dataSource" matSort class="w-100">
                <ng-container matColumnDef="proposalId">
                    <th mat-header-cell *matHeaderCellDef> Proposal Id </th>
                    <!-- <ng-container *matCellDef="let row">
                    <ng-container *ngIf="">

                    </ng-container>
                    </ng-container> -->
                    <td mat-cell *matCellDef="let row" >{{ row.proposalId }}</td>
                </ng-container>
                <ng-container matColumnDef="logMessage">
                    <th mat-header-cell *matHeaderCellDef> Log Message</th>
                    <td mat-cell *matCellDef="let row"> {{row.logMessage }} </td>
                </ng-container>
                <ng-container matColumnDef="clientName">
                    <th mat-header-cell *matHeaderCellDef>Client Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.clientName}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let row" [ngClass]="row.expired?'white':''"> {{(row.createdAt).split('T')[0]}} </td>
                </ng-container>
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Action </th>
                    <td mat-cell *matCellDef="let row"><button mat-raised-button (click)="viewDetails(row.proposalId)" [disabled]="row.proposalGenerated === 'no'">View Details</button></td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        </div>
        <div class=".mat-paginator-container">
        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" aria-label="Select page of users"></mat-paginator>
    </div>
    </div>
</div>