<div class="container">
  <div class="title">
    <h1>{{ title }} Dashboard</h1>
  </div>

  <div class="main-content">

    <!-- Total Proposal Generated View  -->
    <!-- <div>
      <mat-card class="Proposal">
        <span class="tabs">
          <div>
            <mat-icon class="done">check_circle_outline</mat-icon>
            <p class="tooltiptext1">Total Proposal Completed 100</p>
            <p class="icon-text">Completed 100</p>
          </div>
          <div>
            <mat-icon class="pending">access_time</mat-icon>
            <p class="tooltiptext2">Total Proposal Pending 50</p>
            <p class="icon-text">In-progress 50</p>
          </div>
          <div>
            <mat-icon class="cancel">block</mat-icon>
            <p class="tooltiptext3">Total Proposal Expired 10</p>
            <p class="icon-text">
              Expired <br />
              10
            </p>
          </div>
        </span>
      </mat-card>
    </div> -->
    <!-- Locations and total cities -->

    <div mat-card class="card-container">
      <!-- porposal view recent generated -->

      <!-- proposal views table -->
      <div class="card-wrapper-wrap">
        <div
          class="card-wrapper"
          (click)="clickEvent()"
          *ngFor="let city_name of city"
        >
          <app-admin-dashboard-expand
            [cardData]="city_name"
          ></app-admin-dashboard-expand>
        </div>
      </div>
    </div>
    <div class="sales-proposal">
      <mat-card class="sales">
        <!-- total users  -->
        <div class="totals">
          <!-- <mat-icon>people</mat-icon> -->
          <p matTooltip="Total Users Availabel">	<mat-icon>group</mat-icon> Total Users {{ totalUser }}</p>
          <p>Top Sales Persons</p>
        </div>
        <!-- Sales Persons Lists -->
        <div class="sales-persons">
          <div class="sales-list" *ngFor="let userData of users; let i = index">
            <!-- <div  *ngIf="userData.role==='sales'"> -->
            <mat-card>
              <!-- <p [ngClass]="i === 0 ? 'font' : ''">
                <mat-icon>person_outline</mat-icon>
              </p> -->
              <p [ngClass]="i === 0 ? 'font' : ''">
                {{ userData.firstName }}
                {{ userData.lastName.slice(0, 1) }}.
              </p>

              <p [ngClass]="i === 0 ? 'font' : ''">
                :- {{ userData.totalProposalCount }}
              </p>
            </mat-card>
          </div>
        </div>
        <div class="approval-lists">
          <h3>Recent Proposals</h3>
          <div class="tableContain">
          <table
            mat-table
            [dataSource]="dataSourceRecent"
            matSort
            class="tableclass"
          >
            <ng-container matColumnDef="salesPerson">
              <th mat-header-cell *matHeaderCellDef>Sales Person</th>
              <td mat-cell *matCellDef="let element">
                {{ element.salesPerson.firstName }}
                {{ element.salesPerson.lastName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="_id">
              <th mat-header-cell *matHeaderCellDef>Proposal Id</th>
              <td mat-cell *matCellDef="let element">{{ element._id }}</td>
            </ng-container>

            <ng-container matColumnDef="approve">
              <th mat-header-cell *matHeaderCellDef>Approval</th>
              <td mat-cell *matCellDef="let element">
                <button
                  mat-button
                  (click)="approvePropsal(element._id)"
                  class="clicked"
                >
                  <span>Approve</span>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Hold</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon (click)="deleteRow(element._id)" class="hold"
                  >access_time</mat-icon
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="view">
              <th mat-header-cell *matHeaderCellDef style="width: 7rem">
                View Details
              </th>
              <td mat-cell *matCellDef="let element">
                <button mat-button (click)="viewDetails(element._id)">
                  View
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRecent"></tr>
            <tr
              mat-row
              @fadeOut
              *matRowDef="let row; columns: displayedColumnsRecent"
            ></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[3, 6, 12, 24]"
            aria-label="Select page of recent"
          ></mat-paginator>
        </div>
      </div>
      </mat-card>
    </div>
  </div>
<!-- Notification conflict -->
  <div class="notify  " [ngClass]="shownotification ? 'notify' : 'notify-none'" >
    <div class="icon" (click)="menuOpen = !menuOpen" matRipple>
      <mat-icon matBadge="{{ notifications }}">{{
        menuOpen ? "close" : "notification_important"
      }}</mat-icon>
    </div>
    <div
      class="sub-icon"
      [ngClass]="menuOpen ? 'home-icon' : ''"
      (autofocus)="true"
    >
      <div   class="tableConflictClass">
        <table
          mat-table
          [dataSource]="dataSourceConflict"
          class="fadeInUp"
        >
          <ng-container matColumnDef="salesPerson">
            <th mat-header-cell *matHeaderCellDef>Sales Person</th>
            <td mat-cell *matCellDef="let element">
              {{ element.salesPerson.firstName }}
              {{ element.salesPerson.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef>Proposal Id</th>
            <td mat-cell *matCellDef="let element">{{ element._id }}</td>
          </ng-container>

          <ng-container matColumnDef="resolve">
            <th mat-header-cell *matHeaderCellDef style="width: 7rem">
              Resolve
            </th>
            <td
              mat-cell
              class="resolve"
              *matCellDef="let element"
              style="display: flex"
            >
              <mat-icon
                class="green"
                matTooltip="Same"
                matTooltipPosition="left"
                (click)="resolveConflict(element._id)"
                >check_circle</mat-icon
              >
              <mat-icon
                class="red"
                matTooltip="Not Same"
                matTooltipPosition="below"
                (click)="deleteConflict(element._id)"
                >cancel</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsConflict"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsConflict"
          ></tr>
        </table>
      </div>
    </div>
  </div>


  <!-- deslection approval -->
  <div class="notify  " [ngClass]="deselect ? 'notify' : 'notify'" >
    <!-- <div class="icon" (click)="menuOpen = !menuOpen" matRipple>
      <mat-icon matBadge="{{ notifications }}">{{menuOpen ? "close" : "notification_important"}}</mat-icon>
    </div>
    <div class="sub-icon" [ngClass]="menuOpen ? 'home-icon' : ''" (autofocus)="true">
      <div class="tableConflictClass">
        <table mat-table [dataSource]="dataSourceConflict" class="fadeInUp">
          <ng-container matColumnDef="salesPerson">
            <th mat-header-cell *matHeaderCellDef>Sales Person</th>
            <td mat-cell *matCellDef="let element">
              {{ element.salesPerson.firstName }}
              {{ element.salesPerson.lastName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef>Proposal Id</th>
            <td mat-cell *matCellDef="let element">{{ element._id }}</td>
          </ng-container>

          <ng-container matColumnDef="resolve">
            <th mat-header-cell *matHeaderCellDef style="width: 7rem">
              Resolve
            </th>
            <td
              mat-cell
              class="resolve"
              *matCellDef="let element"
              style="display: flex"
            >
              <mat-icon
                class="green"
                matTooltip="Same"
                matTooltipPosition="left"
                (click)="resolveConflict(element._id)"
                >check_circle</mat-icon
              >
              <mat-icon
                class="red"
                matTooltip="Not Same"
                matTooltipPosition="below"
                >cancel</mat-icon
              >
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumnsConflict"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumnsConflict"
          ></tr>
        </table>
      </div>
    </div> -->
    <div>

    </div>
  </div>
</div>
