@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url('../../../assets/images/profile/profile-background.png');
  min-height: 100vh;
  z-index: 1;
  // background-position: top left;
  // background-repeat: no-repeat;
  // background-size: contain;
}
.background-image {
  display: grid;
  grid-template-rows: 1fr 1fr;
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;

  .image {
    background-image: url("../../../assets/images/profile/profile-background.png");
    height: 50vh;
    @include for-desktop() {
      height: 47vh;
    }
    background-size: cover;
    background-position: top right;
  }
  .solid-color {
    background-color: #fff;
  }
}
