<div class="container">
    <!-- <div class="icon" (click)="menuOpen = !menuOpen" matRipple>
        <mat-icon>{{menuOpen ? 'close': 'menu'}}</mat-icon>
    </div> -->
    <!-- <div class="sub-icon" [ngClass]="menuOpen ? 'home-icon': ''" (click)="menuOpen = !menuOpen" matRipple routerLink="/sales" matTooltip="Home" matTooltipPosition="left" matTooltipShowDelay="500">
        <mat-icon>home</mat-icon>
    </div>
    <div class="sub-icon" [ngClass]="menuOpen ? 'person-icon': ''" (click)="menuOpen = !menuOpen" matRipple routerLink="/sales/profile" matTooltip="Profile" matTooltipPosition="left" matTooltipShowDelay="500">
        <mat-icon>person</mat-icon>
    </div>
    <div class="sub-icon" [ngClass]="menuOpen ? 'log-icon': ''" (click)="menuOpen = !menuOpen" matRipple routerLink="/sales/log" matTooltip="Logs" matTooltipPosition="left" matTooltipShowDelay="500">
        <mat-icon>description</mat-icon>
    </div>
    <div class="sub-icon" [ngClass]="menuOpen ? 'logout-icon': ''" (click)="menuOpen = !menuOpen" matRipple (click)="logOut()" matTooltip="Logout" matTooltipPosition="below" matTooltipShowDelay="500">
        <mat-icon>logout</mat-icon>
    </div> -->
</div>

