.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ececec;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.6rem;
        }

        .mat-form-field-infix {
            display: block;
            position: relative;
            flex: auto;
            min-width: 0;
            /* width: 180px; */
        }
        .table-container {
            width: 20rem;
            overflow-x: scroll;

            table {
                color: #fff;
                background-color: #ececec;
                width: 35rem;
                text-align: center;

                th {
                    background-color: #c3343a;
                    padding-inline: 1rem;
                    padding-block: 1rem;
                    text-align: center;
                    font-size: 1rem;
                    font-weight: 600;
                    color: #fff;

                }

                td {
                    color: #fff;
                    padding-inline: 1rem;
                    text-align: center;
                    background-color: #8B8C8D;

                }

                tr {
                    &:last-child {
                        td {
                            &:first-child {
                                border-bottom-left-radius: 1rem;
                            }

                            &:last-child {

                                border-bottom-right-radius: 1rem;
                            }
                        }
                    }
                }
            }
        }

        

       
        }height: auto;
        mat-paginator {
            width: 100%;
            background-color: #ececec;
        }
    }
