@mixin for-desktop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin flex_center_center {
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  flex-direction: column;
}

.container {
  @include flex_center_center();

  .main-content {
    @include flex_center_center();
    @include flex-column();

    .title {
      width: 100%;
      font-size: 1rem;
       background: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-radius: 1rem;

      .edit-icon {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
        mat-icon {
          transform: scale(1.2);
        }
      }
    }

    .avatar {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      background-color: #fff;
      padding: 3rem;
      @include for-desktop() {
        width: 3rem;
        height: 3rem;
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
    .form-container {
      @include flex_center_center();
      width: 20rem;
      flex-wrap: wrap;
      padding: 3rem 2.5rem;
      border-radius: 2rem;
      background-color: #fff;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
      // @include for-desktop() {
      //   width: 43rem;
      //   padding: 1.5rem 1rem;
      //   border-radius: 4rem;
      // }
      form {
        @include flex_center_center();
        @include flex-column();
        width: inherit;

        .section {
          @include flex_center_center();
          justify-content: space-around;
          width: inherit;
          // @include for-desktop() {
          //   width: 20rem;
          // }
          mat-form-field {
            width: 20rem;
            @include for-desktop() {
              width: 17rem;
            }
            mat-icon {
              padding-inline-start: 0.5rem;
              color: #bdbdbd;

              &.active {
                color: #757575;
              }
            }
          }
        }

        .form-action {
          @include flex_center_center();
          width: inherit;
          gap: 1rem;
          button {
            width: 10rem;
            padding: 0rem 2rem;
          }
        }
      }
    }

    .avatar + .form-container {
      margin-top: 2rem;
      @include for-desktop() {
        margin-top: 1rem;
      }
    }
  }
}
