<div class="container">
    <div class="main-content">
        <div class="title">
            <h1>{{centerData.location}}</h1>
            <mat-icon>play_arrow</mat-icon>
            <h1 class="center-name">{{centerData.center}}</h1>
        </div>
        <div class="image">
            <img src="assets/images/location/location-preview.png" alt="">
        </div>
        <div class="action">
            <button mat-raised-button color="primary" (click)="initiateProposal(centerData._id)">Add Proposal</button>
        </div>
    </div>
</div>