<div class="container">
    <div class="main-content">
        <form  ngSubmit="onSubmit()">
       <div class="card">  
        <div [formGroup]="closerForm">
        <p>The unique identification of your proposal is:</p>
        <input class="uid" type="text"  formControlName="proposalId">
    </div>
        <div>
        <p>Do you wish to escalate the proposal for closure?</p>
        <div>     
           <button class="yesno">Yes</button>
           <button class="yesno">No</button>
        </div>
    </div>

    <div >
        <div class="otpdiv"><p>If Yes,</p></div>
        <div class="otpbuttons">
        <button  type="submit" mat-raised-button color="primary" class="otp">Generate OTP for closure</button>
        <input type="text" class="otp" placeholder="Enter OTP for closure" >
    </div>
    </div>
        <div>
        <button mat-button class="offer" >Final Offer Amount</button>
        <button  mat-button class="offer"  >Re-Generate Proposal</button>
    </div>
    </div>
</form>
    </div>
</div>