@mixin for-desktop {
    @media (max-width:1440px) {
        @content;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 100%;
    background-image: url('../../../../../assets/images/dashboard/dashboard-background.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;


    .id {
        display: flex;
        justify-content: flex-start;
        width: inherit;
        padding-block-start: 1rem;
        padding: 1.5rem;
    }

    .card {
        background-color: #C3343A;
        border-radius: 1rem;
        padding: 0rem 1rem;
        // margin-inline-start: 6rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;
        color: #ffffff;
        font-weight: 600;

    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        width: 20rem;
        @include for-desktop(){
            gap: 0.2rem;
        }

        mat-form-field {
            width: inherit;
        }

        .form-field {
            display: flex;
            justify-content: space-between;
            // padding: 0.5rem 1rem;
            background-color: #C3343A;
            border-radius: 0.2rem;
            width: 100%;

            p {
                padding-inline-start: 1rem;
            }

            .form-field__order {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                justify-content: center;
                align-items: center;


                .form-field__primary {
                    display: flex;
                    gap: 1rem;

                    .form-field__card {
                        background-color: #fff;
                        border-radius: 0.1rem;

                        mat-form-field {
                            width: 5rem;
                            height: 2rem;
                        }
                    }
                }
            }
        }

        .form-action {
            display: flex;
            justify-content: flex-end;
            margin-inline-end: 5rem;
            width: 100vw;

            button {
                font-size: 1.1rem;
                font-weight: 600;
                min-width: 10rem;
                min-height: 3rem;
                margin-block-end: 1rem;
                @include for-desktop(){
                    font-size: 1rem;
                    font-weight: 500;
                    
                }
            }
        }
    }
}

// ::ng-deep {
//     .mat-form-field-appearance-fill {
//         font-size: 1.1rem;

//         .mat-form-field-flex {
//             background-color: #C3343A;
//             border-radius: 0.5rem !important;
//         }

//         .mat-form-field-underline::before {
//             background-color: rgba(255, 255, 255, 0.42);
//         }



//         .mat-form-field-label {
//             span {
//                 color: #fff;
//             }
//         }

//         .mat-select-arrow {
//             color: #fff;
//         }

//         .mat-form-field-underline {
//             display: none;
//         }

//         mat-label {
//             color: #fff;
//             font-weight: 600;
//         }

//         .mat-select-value-text {
//             color: #fff;
//         }

//         .mat-input-element {
//             color: #fff;
//         }
//     }

//     .mat-form-field {
//         &.mat-form-field-invalid{
//             .mat-form-field-label{
//                 .mat-form-field-required-marker{
//                     color: #fff;
//                 }
//             }
//         }
//         .mat-select {
//             &.mat-select-invalid {
//                 .mat-select-arrow {
//                     color: #fff;
//                 }
//             }
//         }
//     }


// }