$custom-primary-palette: (
  50: #C3343A,
  100: #C3343A,
  200: #C3343A,
  300: #C3343A,
  400: #C3343A,
  500: #C3343A,
  600: #C3343A,
  700: #C3343A,
  800: #C3343A,
  900: #C3343A,
  A100: #C3343A,
  A200: #C3343A,
  A400: #C3343A,
  A700: #C3343A,
  contrast: (50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);
$custom-accent-palette: (
  50: #7D7E80,
  100: #7D7E80,
  200: #7D7E80,
  300: #7D7E80,
  400: #7D7E80,
  500: #7D7E80,
  600: #7D7E80,
  700: #7D7E80,
  800: #7D7E80,
  900: #7D7E80,
  A100: #7D7E80,
  A200: #7D7E80,
  A400: #7D7E80,
  A700: #7D7E80,
  contrast: (50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: #000,
    A200: #fff,
    A400: #fff,
    A700: #fff,
  )
);
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Redbricks_Frontend-primary: mat.define-palette($custom-primary-palette);
$Redbricks_Frontend-accent: mat.define-palette($custom-accent-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Redbricks_Frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Redbricks_Frontend-theme: mat.define-light-theme((color: (primary: $Redbricks_Frontend-primary,
        accent: $Redbricks_Frontend-accent,
        warn: $Redbricks_Frontend-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Redbricks_Frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap');
@import "./assets/scss/main/main-custom-angular-material.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

* {
  font-family: 'Montserrat', sans-serif;
}
.mat-expansion-indicator::after{
  color: white;
}
mat-expansion-panel{
  margin:0 !important;
}
