<div class="container">

  <div class="main-content">

      <div *ngIf="conflict; else elseBlock">
          <div class="card">
              <!-- <button type="submit" mat-raised-button color="primary" (click)="sendOtp()">Generate OTP to
                  De-Register</button> -->

              <!-- <mat-label>Enter OTP to De-Registere</mat-label> -->
              <input type="text" class="otp" placeholder="Enter OTP to De-Register">


          </div>

      </div>
      <ng-template #elseBlock>
          <div class="card">
              <span>
                  No Conflict found. Please proceed to register Broker & to next stage

              </span>
          </div>
      </ng-template>
  </div>


  <div class="form-action">
      <button type="submit" mat-raised-button color="primary" (click)="registerBroker()">Register Broker <mat-icon>
              play_arrow</mat-icon></button>
      <!-- <button type="submit" mat-raised-button color="primary">Next
              <mat-icon>play_arrow</mat-icon>
          </button> -->
  </div>
</div>
