<!-- <div>
  <h3>Id: {{data.info.idForDeselect}}</h3>
  <p><b style="font-weight: 600;">Center:</b>{{data.info.center}}, {{data.info.location}} </p>
  <p> <b style="font-weight: 600;"> Total Seats Selected: </b>{{data.info.seatSelected}}</p>

  <p style="font-weight: 600; margin-block-end: 5px;">Select Sides</p>
  <div class="sides_selection">

    <button type="button" mat-raised-button color="primary"[color]="selectFrom === 'left' ? 'primary':'accent'" (click)="selectFrom = 'left'">Left</button>
    <button type="button" mat-raised-button color="primary"[color]="selectFrom === 'right' ? 'primary':'accent'" (click)="selectFrom = 'right'">Right</button>
  </div>
  <mat-form-field appearance="outline" class="seatsNo">
    <mat-label>
     Enter No. of Seats to Deselect
    </mat-label>
    <input  matInput/>
  </mat-form-field>

<button type="button" mat-raised-button color="primary" class="sendApproval">Send for Approval</button>

</div> -->
