.sides_selection{
display: flex;
justify-content: space-evenly;
}
.seatsNo{
  width: 17rem;
  margin-block-start: 10px;
  margin-block-end: -20px;

}
.sendApproval{
    margin-block: 10px;
    margin-inline-start: 2rem;
    width: 13rem;
}
