<div [ngClass]="showMe?'card-wrapper':''">
<mat-card class="card" (click)="clickHandler()" [ngClass]="showMe ? 'expand' : ''">
  <h2><mat-icon>location_city</mat-icon> {{ cardData.location }}</h2>
  <div class="subtitle">
    <mat-card matTooltip="Selected Seat / Total Seats">
      <p> <b> Total Seats: {{ cardData.selectedNoOfSeats }}/{{ cardData.totalNoOfWorkstation }}</b></p>
    </mat-card>
    <mat-card>
      <p> <b>Proposal Generated: {{ cardData.totalNoOfWorkstation}}</b></p>
    </mat-card>
  </div>
  <div class="sub_card"  >
    <mat-card class="sub" *ngFor="let center of cardData.centers let i=index " (click)="openDialog(i)">
      <span class="center_title">{{ center.name}}: </span>
     <mat-card class="sub_sub_card">
        <p><b>Total Seat Selected:</b> {{ center.selectedNoOfSeats}}/{{ center.totalNoOfWorkstation }} </p>
    </mat-card>
      <mat-card class="sub_sub_card">
        <p><b>Total Proposal Generated:</b> {{center.totalNoOfWorkstation }}</p>
      </mat-card>
    </mat-card>
  </div>
</mat-card>
</div>
